/* Hermes Channel Stylesheet */

.background {
    background-color: #E0FFDA;
}

hr {
    border-color: #487F40;
}

.reply {
    display: inline-block;
    margin-top: 4px;
    padding-right: 6px;
    max-width: 100%;
    word-wrap: break-word;
}

.childReply{
    background-color: #CAE5C4;
}

.author {
    color: #B23252;
    font-weight:bold;
}

.subject {
    color: #3281B2;
    font-weight:bold;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: inherit;
    border-left: inherit;
    margin-bottom: 5px;
}

.postInfo {
    margin-left: 4px;
    margin-top: 3px;
    padding: 2px;
    margin-bottom: 3px;
}

.jumbotron {
    background-color: #E0FFDA;
    border-color: #487F40;
    border: 1px solid;
}

.email {
    color: inherit;
    text-decoration:underline;
}

.threadRepliesOmitted {
    color: #999999;
}

.quote {
    color: #3281B2;
}

/* Bootstrap overrides */

.navbar {
    border-color: #487F40;
    background-color:#E0FFDA;
    border: initial;
    border-bottom: 1px solid;
    border-radius: initial;
}

/* Override ordinary display parameter for collapsable but visible elements
   so they can be centered */
.collapse.in {
    display: inline;
}

/* This highlights why we need SASS Bootstrap */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #CAE5C4;
}