{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hermes Channel</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'hermes/stylesheet.css' %}" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'hermes:index' %}">Hermes</a>
      <ul class="nav navbar-nav">
	{% for board in board_list %}
	<li><a href="{% url 'hermes:board' board.id %}">{{board.title}}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  {% block title %}{% endblock %}
  {% block content %}{% endblock %}
</div>

{% bootstrap_javascript jquery=1 %}
</body>
</html>
