{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'hermes:index' %}">Hermes</a>
      <ul class="nav navbar-nav">
	{% for board in board_list %}
	<li><a href="{% url 'hermes:board' board.id %}">{{board.title}}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  {% block title %}{% endblock %}
  {% block content %}{% endblock %}
</div>
{% endblock %}
