{% extends 'hermes/base.html' %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
    {% if error_message %}
    <div>{{error_message}}</div>
    {% endif %}
    <div class="text-center">
      <button class="collapse in postForm btn btn-primary" type="button" data-toggle="collapse" data-target=".postForm" aria-expanded="false" aria-controls="postForm">Post Thread</button>
    </div>
    <div class="postForm collapse">
      <form class="form-horizontal" action="{% url 'hermes:new' board.id %}" method="post">
	{% csrf_token %}
	{% bootstrap_form form layout='horizontal' %}
	{% buttons submit='Post Thread' layout='horizontal' %}
	{% endbuttons %}
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    {% if threads %}
    {% for thread in threads %}
    <hr>
      {% for post in thread.post_list %}
      <div class="row">
	<div class="col-md-12 col-xs-10">
	  <div class="reply {% if forloop.first %}opReply{% else %}childReply{% endif %}">
	    <div class="postInfo">
	      <span class="author">
		{% if post.email %}
		<a class="email" href="mailto:{{post.email}}">
		{% endif %}
		{{post.author}}{% if post.email %}</a>
		{% endif %}
	      </span>
	      <span class="subject">{{post.title}}</span>
	      <span class="timestamp">{{post.time}}</span>
	      <span class="postId">No.{{post.id}}</span>
	      {% if forloop.first %}
	      <span class="postLink">[<a href="{% url 'hermes:thread' board.id thread.id %}">View thread</a>]</span>
	      {% endif %}
	    </div>
	    <blockquote class="post">
	      {{post.text}}
	    </blockquote>
	  </div>
	</div>
      </div>
      {% endfor %}
    {% endfor %}
    {% else %}
      <div>What! You trying to mug me?!</div>
    {% endif %}
  </div>
</div>
{% endblock %}
