{% extends 'hermes/base.html' %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
      <h1>Cookie Policy <small>I love a good cookie</small></h1>
      <p>Today, we have cookies for storing your entered name and email address. We don't use this information in any other way,
	except for pre-populating the message fields!</p>
      <p>We have another first party cookie for storing any error or status messages that appear after you perform certain actions.
	For instance, after you delete a post, you receive a message saying that the post was deleted.
      This message is stored in the messages cookie.</p>
  </div>
</div>
{% endblock %}
