{% extends 'hermes/base.html' %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="jumbotron">
      <h2>Hermes Channel <small>Yet Another Textboard Clone</small></h2>
      <p> Welcome to Hermes Channel, a textboard that wouldn't look out of place in 1997</p>
      <div class="board-list">
	{% if hermes_board_list %}
	<ul>
	  {% for board in hermes_board_list %}
	  <li><a href="{% url 'hermes:board' board.short_name %}">{{board.title}}</a></li>
	  {% endfor %}
	</ul>
	{% else %}
	<p>What! You trying to mug me?!</p>
	{% endif %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
