{% extends 'hermes/base.html' %}

{% load bootstrap3 %}
{% load hermes_extras %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-xs-12">
    {% if error_message %}
    <div>{{error_message}}</div>
    {% endif %}
    <div class="text-center">
      <button class="collapse in postForm btn btn-primary"
	      type="button"
	      data-toggle="collapse"
	      data-target=".postForm" aria-expanded="false" aria-controls="postForm">Post Reply</button>
    </div>
    <div class="postForm collapse">
      <form class="form-horizontal" action="{% url 'hermes:reply' board_id thread_id %}" method="post">
	{% csrf_token %}
	{% bootstrap_form form layout='horizontal' %}
	{% buttons submit='Post Reply' layout='horizontal' %}
	{% endbuttons %}
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <hr/>
    [<a href="{% url 'hermes:board' board_id %}">Back</a>]
    <hr/>
      {%if post_list %}
      {% for post in post_list %}
      <div class="row">
	<div class="col-md-12 col-xs-12">
	  <div class="reply {% if forloop.first %}opReply{% else %}childReply{% endif %}">
	    <div class="postInfo">
	      <span class="subject">{{post.title}}</span>
	      <span class="author">
		{% if post.email %}
		<a class="email" href="mailto:{{post.email}}">
		{% endif %}
		{{post.author}}{% if post.email %}</a>
		{% endif %}
	      </span>
	      <span class="timestamp">{{post.time}}</span>
	      <span class="postId">No.{{post.id}}</span>
	    </div>
	    <blockquote class="post">
	      {{post.text|greentext|linebreaksbr}}
	    </blockquote>
	  </div>
	</div>
      </div>
      {% endfor %}
    {% else %}
    <p>What! You trying to mug me?!</p>
    {% endif %}
    <hr/>
  </div>
</div>
{% endblock %}
